<!DOCTYPE html>
<html>
<head>
  <title>Hotquote - Think you can make fire?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="logo">
    <%=image_tag('logo_v4.svg')%>
    <p>THINK YOU CAN MAKE FIRE?</p>
  </div>
<%= yield %>

</body>
</html>
